---
language: go

# we support the most two recent releases, and (hopefully) the tip.
go:
  - "1.10"

cache:
  directories:
    - vendor

install:
  - mkdir tools
  - curl -L https://github.com/Masterminds/glide/releases/download/v0.13.1/glide-v0.13.1-linux-amd64.tar.gz | tar -xzv --strip-components=1 -C tools
  - chmod +x tools/glide
  - export PATH=$(pwd)/tools:$PATH
  - glide install

script:
  - make fmt
  - make
  
after_success:
  - docker run --cap-add=IPC_LOCK -e 'VAULT_DEV_ROOT_TOKEN_ID=vaultfstest' -e 'VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200' -p 127.0.0.1:8200:8200 -d vault
  - curl -L https://releases.hashicorp.com/vault/0.9.5/vault_0.9.5_linux_amd64.zip > vault.zip && unzip vault.zip && rm vault.zip && mv vault tools/vault
  - echo 'vaultfstest' > ~/.vault-token
  - export VAULT_ADDR='http://127.0.0.1:8200' && vault write secret/hello value=world
  - mkdir $HOME/vaultfs
  - ./vaultfs mount $HOME/vaultfs -a http://127.0.0.1:8200 -i -r secret -t vaultfstest &
  - cat /vaultfs/hello
